body{
    background-color:rgb(237, 241, 245);
}
a{
    cursor:pointer;
}
.btn-icon-type{
    font-size: 1rem;
    margin: auto;
    margin-right: 10px;
}
.card-icon-type{
    width: 70%;
    margin:auto;
}
.container-topless{
    padding: 0.2% 15%;
}
.container-fluid{
    margin-top: 60px;
    padding: 3% 15%;
}
.container-fluid-2{
    padding: 3% 15%;
}
.divider-line-dotted{
    width:8%;
    height:0;
    border: none;
    margin: 50px auto;
    border-top: 5px dashed #ccc;
}
.info-head{
    margin-top: 20px;
}
.info-body{
    height: 100px;
    overflow: hidden;
    text-overflow: "...."; 
}
.info-action{
    text-align: left;
    margin-top: 2%;
}
.text-left{
    /* */
}
.text-left p{
    text-align:left;
}
.reltive{
    position: relative;
}
.slim{
    font-weight: 600;
}
.small-screen-text{
    font-size: 60%;
}
.splash-icon-type{
    text-align: center;
    width:100%;
    margin: 1%;
}
@media (min-width: 1384px){
    .card-icon-type{
        width:120px;
    }
}
@media (max-width: 1383px){
    .container-topless{
        padding: 0.2% 10%;
    }
    
}
@media (max-width: 1300px){
    .container-topless{
        padding: 0.2% 7%;
    }
}
@media (max-width: 1210px){
    .card-icon-type{
        width: 100px;
        margin:auto;
    }
    .container-fluid, .container-fluid-2{
        padding: 3% 10%;
    }
    .container-topless{
        padding: 0.2% 1%;
    }
    .splash-icon-type{
        width: 120%;
      margin: 0;
    }
    
}
@media (max-width: 768px){
    

    .intro{
        text-align: center;
    }
    .splash-icon-type{
        width: 100%;
        margin: 0;
    }
    
}
@media (max-width: 514px){
    .container-fluid{
        margin-top: 90px;
    }
}
@media (max-width: 575px){
    .mv-r{
        margin-left:auto;
    }
}
